/* This is the stylesheet of http://www.netfilter.org */

body {
	background: white;
	color: black;
	font-family: arial,helvetica,sans-serif;
	margin: 0px;
	padding: 0px;
}

a {
	background: transparent;
	color: black;
	text-decoration: underline;
}

a:visited {
	background: transparent;
	color: black;
	text-decoration: underline;
}

/* global table defining the layout of the whole page */
table.layout {
	clear: both;
	margin: 0px;
	border: none;
	padding: 0px;
	border-collapse: collapse;
	width: 100%;
}


/* title bar on top of the page */
div.titlebar {
	clear: both;
	/*background: #99ccfc; */
	color: black;
	border: solid;
	border-color: #990033;
	/* border-width: 1px 0px 1px 0px; */
	border-width: 0px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	font-size: 150%;
	text-align: center;
	height: 70px;
}

img.titlebarleft {
	float: left;
	border: none;
	vertical-align: middle;
	background: transparent;
}

img.titlebarright {
	float: right;
	border: none;
	vertical-align: middle;
	background: transparent;
}

/* navigation menu on the left hand side */
td.menu {
	background: white;
	color: black;
	border-style: solid;
	border-color: #990033;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	padding: 10px;
	vertical-align: top;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif; 
/*	font-size: 100%*/
}

/* text inside the navitation menu */
div.menu {
	background: transparent;
	color: black;
	padding-left: 1em;
	font-size: 70%;
	white-space: normal;
}

/* toplevel navigation menu items */
span.toplevel {
	background: #E0DFDB;
	font-weight: bold; 
	color: #fbfbfb;
	width: 100%;
	border-style: solid;
	border-color: black;
	border-width: 3px 0px 3px 0px;
	display: block;
	margin-top: 1em;
	padding: 0.2em;
	white-space: nowrap;
}
span.toplevel a:link {
	color: black;
}
span.toplevel a:visited {
	color: black;
}


/* first level of indentation in navigation menu */
span.shrink1 {
	padding-left: 2em;
	font-size: 70%;
	display: block;
	white-space: nowrap;
}

/* left footer (copyright notice) */
span.footerleft {
	float: left;
	padding: 20px;
}

/* 'right' footer (author name) */
span.footerright {
	float: right;
	padding: 20px;
	font-style: italic;
}

div.linkbar, div.navbar {
	clear: both;
	background: #E0DFDB;
	color: black;
	border: solid;
	border-color: black;
	border-width: 3px 0px 3px 0px;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	text-align: center;
}


td {
	padding: 5px 5px 0px 0px;
}

/* this is the 'main' frame of the layout table */
td.main {
	padding: 10px;
	vertical-align: top;
	width: 100%;
}

/* page headlines */
h1 {
	background: #E0DFDB;
	color: black;
	border-style: solid;
	border-color: black;
	border-width: 3px 0px 3px 0px;
	padding: 5px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 110%;
	text-align: left;
}

/* section title */
h2.title { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 105%
	font-style: normal; 
	font-weight: bold; 
	color: black; 
	font-variant: normal; 
	text-transform: none
}

h2 a {
	text-decoration: none;
	color: black;
}

h2 activated {
	text-decoration: none;
	color: black;
}

h2 a:visited {
	text-decoration: none;
	color: black;
}

h2 a:active {
	color: black;
}

/* subsection title */
h3.title {
	font-weight: bold;
	clear: both;
	color: black; 
	font-size: 105%;
}

/* blog specifics */

ul.archives {
	padding-left: 0em;
	list-style-type: none;
}

li.archives_year {
	/* just like shrink1 */
	padding-left: 0em;
	display: block;
	white-space: nowrap;
}

ul.archives_month {
	/* jist like shrink1 */
	padding-left: 0em;
	display: block;
	white-space: nowrap;
}

.storylinkbar {
	text-align: right;
}

ul.categories_root {
	padding-left: 0em;
	list-style-type: none;
}

ul.categories {
	padding-left: 1em;
	list-style-tope: none;
}

li.this_category {
	text-style: bold;
}


@media print {

div.navbar, div.linkbar, td.menu {
	display: none
}

td.main {
	padding-right: 0px;
	padding-left: 0px;
}

}


